<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <title>Result</title>
  </head>
  <body>
    <h1 class="v">the spomoji for your songs are...</h1>
    <p>&#x1F37B; &#x1F600; &#x1F984;</p>
  </body>
</html>

<style>
    .v {
        color: #1eba55;
        font-family: Poppins;
        font-weight: Bold;
        font-size: 36px;
        opacity: 1;
    }

    .body{
        font-size: 36px;
    }

</style>