<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <title>Home page</title>
  </head>
  <body>
    <h1 class="v">Generate Your Own Spomoji!</h1>
    <form method="post" enctype='multipart/form-data'>
      {% csrf_token %}
      {{form}}
      
      <button type="submit">Upload</button>
    </form>
  </body>
</html>

<style>
  .v {
      color: #1eba55;
      font-family: Poppins;
      font-weight: Bold;
      font-size: 36px;
      opacity: 1;
  }

</style>